In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('./data/ch1_sport_test.csv',
                index_col='학생번호')
df

      학년    악력  윗몸일으키기  점수  순위
학생번호
1      1  40.2      34  15   4
2      1  34.2      14   7  10
3      1  28.8      27  11   7
4      2  39.0      27  14   5
5      2  50.9      32  17   2
6      2  36.5      20   9   9
7      3  36.6      31  13   6
8      3  49.2      37  18   1
9      3  26.0      28  10   8
10     3  47.4      32  16   3

In [5]:
df['악력']

학생번호
1     40.2
2     34.2
3     28.8
4     39.0
5     50.9
6     36.5
7     36.6
8     49.2
9     26.0
10    47.4
Name: 악력, dtype: float64

In [6]:
df.shape

(10, 5)

In [8]:
import numpy as np
import pandas as pd

#Jupyter Notebook 출력을 소수점 이하 3자리로 제한
%precision 3
#DataFrame의 출력을 소수점 이하 3자리로 제한
pd.set_option('precision',3)

In [9]:
df = pd.read_csv('./data/ch2_scores_em.csv')
df.head()

   student number  english  mathematics
0               1       42           65
1               2       69           80
2               3       56           63
3               4       41           63
4               5       57           76

In [10]:
scores = np.array(df['english'])[:10]
scores

array([42, 69, 56, 41, 57, 48, 65, 49, 65, 58], dtype=int64)

In [11]:
scores_df = pd.DataFrame({'score':scores},
                        index=pd.Index(['A','B','C','D','E',
                                       'F','G','H','I','J',],
                                      name='student'))